.FlexContainer {
  display: flex;
}

.FlexContainer.column-container {
  flex-direction: column;
}
.FlexContainer.row-container {
  flex-direction: row;
}

.FlexContainer.padding-container {
  padding-left: 40px;
  padding-right: 40px;
}

.FlexContainer.max-width-container {
  max-width: 800px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.FlexContainer.main-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.FlexContainer.grow-container-0 {
  flex-grow: 0;
}
.FlexContainer.grow-container-1 {
  flex-grow: 1;
}
.FlexContainer.grow-container-2 {
  flex-grow: 2;
}
.FlexContainer.grow-container-3 {
  flex-grow: 3;
}

.FlexContainer.flex-wrap {
  flex-wrap: wrap;
}

.FlexContainer.justify-space-between {
  justify-content: space-between;
}
.FlexContainer.justify-flex-end {
  justify-content: flex-end;
}
.FlexContainer.justify-flex-start {
  justify-content: flex-start;
}
.FlexContainer.justify-center {
  justify-content: center;
}

.FlexContainer.align-flex-start {
  align-items: flex-start;
}
.FlexContainer.align-center {
  align-items: center;
}
.FlexContainer.align-flex-end {
  align-items: flex-end;
}

.FlexContainer.basis-100 {
  flex-basis: 100%;
}
