.Header {
  background-color: #4dd0e1;
  color: white;
}

.Header-shopping-cart-button {
  margin-bottom: 5px;
}
.Header-shopping-cart-button div {
  color: white;
}

.Header-shopping-cart-logo {
  width: 28px;
  height: 28px;
  margin: 5px;
}
